__pycache__
.ipynb_checkpoints
.virtual_documents
Untitled.ipynb
tata.csv
.vscode
Dockerfile
results
momentum_ema50-200_31-08-2020_top_23.csv
Stock_analysis.egg-info
multi.ipynb
results/momentum_ema50-200_27-09-2020_top_20.csv
.pytest_cache
profile_prog.py
